# Home assignment 2. Python

Problem 1

In [ ]:
import numpy as np

In [8]:
#problem 1
X = np.random.randn(1000,5)
y = X.dot(np.array([1,2,3,4,5]))+np.random.randn(1000)
class OLS:
    beta = None
    variance = None
    V = None
    prediction = None
    resid = None
    def assess(X,y):
        betas = ((X.T.dot(X)**(-1)).dot(X.T)).dot(y)
        variance = 1/(X.shape[0]-X.shape[1])*((y-X.dot(betas))).T.dot(y-X.dot(betas))
        V = variance*(X.T.dot(X))**(-1)
        resid = y-X.dot(betas)
        OLS.beta = betas
        OLS.variance = variance
        OLS.V = V
        OLS.resid = resid
    def predict(x=None):
        prediction = x.dot(OLS.beta)
        OLS.prediction = prediction
        return prediction

In [9]:
OLS.assess(X,y)

In [10]:
OLS.beta

array([ -186.90238734,   433.65061875,  9168.68875183,  6879.69241255,
         145.25544738])

In [11]:
OLS.V

array([[  1.39044561e+05,   2.17211245e+06,  -4.27207748e+06,
         -1.20259362e+07,   6.20620126e+06],
       [  2.17211245e+06,   1.35878471e+05,   8.12360603e+06,
          2.81835671e+06,   3.84705353e+06],
       [ -4.27207748e+06,   8.12360603e+06,   1.30143847e+05,
          3.02171270e+08,  -5.77698400e+06],
       [ -1.20259362e+07,   2.81835671e+06,   3.02171270e+08,
          1.37707818e+05,   4.91789587e+06],
       [  6.20620126e+06,   3.84705353e+06,  -5.77698400e+06,
          4.91789587e+06,   1.34648655e+05]])

In [17]:
OLS.predict(np.array([1,2,3,4,5]))

56431.51199275822

Problem 4

4.1

In [18]:
import pandas as pd

In [22]:
data_set = pd.read_csv('/Users/Nataly/Documents/NES/second year/Python/HA2/goalies-2014-2016.csv',sep=';')

In [25]:
data_set.head()[data_set.columns[:6]]

   n            player   season team position  games_played
0  1        Cam Talbot  2016-17  EDM        G            73
1  2     Braden Holtby  2016-17  WSH        G            63
2  3  Sergei Bobrovsky  2016-17  CBJ        G            63
3  4      Devan Dubnyk  2016-17  MIN        G            65
4  5       Tuukka Rask  2016-17  BOS        G            65

4.2

In [28]:
print('max deviation:',abs(data_set['save_percentage']-data_set['saves']/data_set['shots_against']).max())

max deviation: 0.00059325605901

4.3

In [31]:
print(
    ' Games_played:\n\n',
    'average:',data_set['games_played'].mean(),'\n',
    'standard deviation',data_set['games_played'].std(),'\n\n',
    
    'Goals_against:\n\n',
    'average:',data_set['goals_against'].mean(),'\n',
    'standard deviation',data_set['goals_against'].std(),'\n\n',
    
    'Save_percentage:\n\n',
    'average:',data_set['save_percentage'].mean(),'\n',
    'standard deviation',data_set['save_percentage'].std(),'\n\n',
)

 Games_played:

 average: 28.476702508960575
 standard deviation 22.28539530193931

 Goals_against:

 average: 67.60573476702508
 standard deviation 53.351779174596096

 Save_percentage:

 average: 0.901179211469534
 standard deviation 0.07126001228217074

4.4

In [32]:
filt1 = df['season'].isin(['2016-17'])
filt2 = df['games_played']>40
filt = filt1&filt2

In [46]:
data_set[filt].loc[data_set[filt]['save_percentage'].idxmax()]['player']

'Sergei Bobrovsky'

In [47]:
data_set[filt].loc[data_set[filt]['save_percentage'].idxmax()]['save_percentage']

0.93099999999999994

4.5

In [49]:
name = []
saves = []
season = []

for i in df.season.unique():
    mask = df['season'].isin([i])
    df_id = df[mask]['saves'].idxmax()
    name.append(df.loc[df_id]['player'])
    saves.append(df.loc[df_id]['saves'])
    season.append(i)
pd.DataFrame({'Name of player':name,'Saves':saves,'Season':season})

     Name of player  Saves   Season
0        Cam Talbot   1946  2016-17
1  Henrik Lundqvist   1788  2015-16
2     Braden Holtby   1887  2014-15

4.6

In [75]:
df = data_set[data_set['wins']>30]

In [76]:
df = df['player'].value_counts()

In [82]:
names = list(df.index[df==3])

In [83]:
names

['Pekka Rinne',
 'Devan Dubnyk',
 'Corey Crawford',
 'Tuukka Rask',
 'Braden Holtby']

In [87]:
fdf = data_set[data_set['player'].isin(names)][['player','wins','season']]

In [88]:
fdf.sort_values('season',ascending = False)

             player  wins   season
1     Braden Holtby    42  2016-17
3      Devan Dubnyk    40  2016-17
4       Tuukka Rask    37  2016-17
10   Corey Crawford    32  2016-17
11      Pekka Rinne    31  2016-17
95    Braden Holtby    48  2015-16
101  Corey Crawford    35  2015-16
103     Pekka Rinne    34  2015-16
104    Devan Dubnyk    32  2015-16
105     Tuukka Rask    31  2015-16
188     Pekka Rinne    41  2014-15
189   Braden Holtby    41  2014-15
193    Devan Dubnyk    36  2014-15
197     Tuukka Rask    34  2014-15
198  Corey Crawford    32  2014-15